$background-color_1: black;
$color_1: rgb(53, 155, 155);
$color_2: gainsboro;


.wikinavbar-wrapper {
    display: flex;
    height: 40px;
    width: 100%;
    .wikinavbar {
        background-color: $background-color_1;
        width: 100%;
        height: 100%;
        font-size: 18px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
.navlink-active {
    color: $color_1;
}
.navlink-inactive {
    color: $color_2;
}

/* Ici : media queries pour la seconde partie desktop */
@media screen and (max-width: 1380px) {
	.wikinavbar {
        a {
            font-size: 16px;
        }
    }
}
/* Ici : media queries pour la première partie tablette */
@media screen and (max-width: 1023px) {
    .wikinavbar-wrapper {
        display: none;
    }
}