.labo-content {
    width: calc(80% - 2px);
    border: 1px solid white;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
/* Ici : media queries pour la seconde partie tablette */
@media screen and (max-width: 991px) {
	.labo-content {
		width: calc(100% - 2px);
	}
}