$color_1: white;
$background-color_1: black;

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.app-category {
	width: calc(80% - 4px);
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: baseline;
	align-items: center;
	position: relative;
	border: 1px solid yellow;
}
.arrow-section {
	display: flex;
	width: 100%;
	position: sticky;
	bottom: 40%;
	justify-content: space-around;
}
.prev-arrow-section, .next-arrow-section {
	display: flex;
	position: sticky;
	z-index: 2;
	cursor: pointer;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	&:active {
		outline: 4px solid white;
	}
}
.prev-arrow-section {
	right: 82%;
}
.next-arrow-section {
	left: 82%;
}
.arrows {
	width: 100%;
	height: 100%;
}
.page-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(../assets/images/background03.webp) no-repeat center center fixed;
	h1 {
		margin-top: 50px;
		color: $color_1;
		cursor: default;
	}
}
.dozen-indicator {
	position: sticky;
	bottom: 50px;
	margin-bottom: 50px;
	background-color: $background-color_1;
	color: $color_1;
	font-size: 20px;
	font-weight: bold;
	border-radius: 14px;
	width: 11%;
	min-width: 140px;
	height: 40px;
	outline: 2px solid white;
	text-align: center;
	line-height: 36px;
	cursor: default;
	animation: fadein 3s;
}
.card-list {
	width: 80%;
	padding: 5%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
}
/* Ici : media queries pour la seconde partie desktop */
@media screen and (max-width: 1380px) {
	.prev-arrow-section, .next-arrow-section {
		width: 60px;
		height: 60px;
	}
}
/* Ici : media queries pour la seconde partie tablette */
@media screen and (max-width: 991px) {
	.app-category {
		width: calc(100% - 4px);
	}
	.prev-arrow-section, .next-arrow-section {
		width: 60px;
		height: 60px;
	}
	.prev-arrow-section {
		right: 85%;
	}
	.next-arrow-section {
		left: 85%;
	}
}






/* .app-category {
    width: 80%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    position: relative;
    border: 1px solid yellow;
}

.prev-arrow-section  {
    z-index: 2;
    position: fixed;
    left: 12%;
    bottom: 40%;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.prev-arrow-section:active {
    outline: 4px solid white;
}

.next-arrow-section {
    z-index: 2;
    position: fixed;
    right: 12%;
    bottom: 40%;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.next-arrow-section:active {
    outline: 4px solid white;
}

.arrows {
    width: 100%;
    height: 100%;
}

.page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/background03.webp) no-repeat center center fixed;
}

.page-content h1 {
    margin-top: 50px;
    color: white;
    cursor: default;
}

.dozen-indicator {
    position: sticky;
    margin-bottom: 50px;
    bottom: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 14px;
    width: 11%;
    min-width: 140px;
    height: 40px;
    outline: 2px solid white;
    text-align: center;
    line-height: 36px;
    cursor: default;
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-list {
    width: 80%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
} */