.forum {
    background: url(../assets/images/forum.webp) no-repeat center center fixed;
    position: relative;
    color: white;
    height: 1300px;
}

.forum-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.forum-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.chart-section {
    height: fit-content;
    overflow: hidden;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.forum-title {
    font-family: 'Starjedi';
    margin-top: 50px;
    cursor: default;
}

.forum-div-topics {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 50%;
    background-color: black;
}

.forum-div-topics h2 {
    width: 100%;
    text-align: center;
    color: yellow;
    font-family: 'Starjedi';
    padding-bottom: 10px;
    cursor: default;
}

.div-topic {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all, .4s;
}

.div-topic:hover {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 20px;
}