.post-card-main {
    position: relative;
    width: 80%;
    outline: 2px solid white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../assets/images/dashboard.webp') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.post-card-overlay {
    position: absolute;
    background-color: black;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: 10px;
}

.post-card-content {
    width: 100%;
    color: white;
    font-size: 16px;
}

.post-card-infos {
    margin-left: 15px;
    display: flex;
    min-height: 50px;
    position: relative;
    padding-bottom: 10px;
}

.infos-datetime {
    position: absolute;
    right: 80px;
}

.post-card-author {
    margin-left: 15px;
    display: flex;
    position: relative;
}

.post-card-author-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.post-card-author-div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.post-card-author-div img {
    height: 100%;
    width: auto;
}

.post-card-author h2 {
    font-size: 16px;
}

.post-card-message p {
    height: fit-content;
    width: auto;
    font-size: 14px;
    margin-right: 60px;
    margin-left: 60px;
    overflow: hidden;
}

.post-card-bottom-bar {
    padding-top: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}