$color_1: white;
$color_2: yellow;
$color_3: gainsboro;
$background-color_1: transparent;
$background-color_2: black;

.search-bar {
	width: 100%;
	height: 120px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-color_1;
	position: relative;
}
.search-form {
	display: flex;
	width: 60%;
	height: 100%;
	padding-top: 120px;
	padding-bottom: 120px;
	padding-left: 180px;
	padding-right: 180px;
	justify-content: center;
	align-items: center;
	background-color: $background-color_1;
	overflow: hidden;
	position: absolute;
}
.search-input {
	width: 100%;
	height: 45px;
	padding: 0;
	padding-left: 10px;
	border: 1px solid gainsboro;
	text-align: center;
	color: $color_1;
	font-weight: bold;
	font-size: 18px;
	border-radius: 6px;
	background-color: $background-color_2;
	&:focus {
		outline: 4px solid yellow;
		border: none;
		border-radius: 6px;
		&::placeholder {
			color: $color_2;
		}
	}
	&::placeholder {
		color: $color_3;
	}
}




/* .search-bar {
    width: 100%;
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
}

.search-form {
    display: flex;
    width: 60%;
    height: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 180px;
    padding-right: 180px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    position: absolute;
}

.search-input {
    width: 100%;
    height: 45px;
    padding: 0;
    padding-left: 10px;
    border: 1px solid gainsboro;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    background-color: black;
}

.search-input:focus {
    outline: 4px solid yellow;
    border: none;
    border-radius: 6px;
}

.search-input:focus::placeholder {
    color: yellow;
}

.search-input::placeholder {
    color: gainsboro;
} */