.topics {
    background: url(../assets/images/star-wars-episode9-team.webp) no-repeat center center fixed;
    color: white;
}

.topics div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topics-page-title {
    margin-top: 50px;
}

.topics-list {
    background-color: grey;
    width: 100%;
}