$color_1: white;
$color_2: #b4b4b4;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: black;


.post-card-main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
	width: 100%;
	.post-card-comments-section {
		gap: 3px;
		margin-top: 3px;
		margin-bottom: 3px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.new-comment-form-section {
		margin-right: 21px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		height: fit-content;
		width: 80%;
		.new-comment-form {
			outline: 1px solid $color_1;
			width: 80%;
			max-width: 748px;
			min-height: 70px;
			padding: 0;
			margin: 0;
			background-color: $background-color_1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.comment-citation-div {
				display: flex;
				flex-direction: column;
				position: relative;
				color: $color_1;
				width: 100%;
				height: fit-content;
				font-size: 16px;
				font-family: Arial, Helvetica, sans-serif;
				.comment-citation-cancel {
					position: absolute;
					width: 100%;
					right: 15px;
					margin-top: 5px;
					width: 10px;
					height: 10px;
					font-size: 10px;
					cursor: pointer;
				}
				.comment-citation-content {
					overflow-wrap: break-word;
					margin-bottom: 0;
					margin-top: 10px;
					margin-left: 10px;
					padding: 0;
					width: 95%;
					min-height: 40px;
					color: $color_1;
					font-size: 9px;
					background-color: $background-color_1;
					width: 90%;
					height: auto;
				}
			}
			.new-comment-form-textarea {
				width: 95%;
				min-height: 40px;
				height: auto;
				margin-top: 10px;
				margin-bottom: 10px;
				padding: 8px;
				border: none;
				outline: 1px solid rgba(255, 255, 255, .6);
				color: $color_1;
				font-size: 9px;
				line-height: 13px;
				background-color: $background-color_1;
			}
			.new-comment-form-textarea::placeholder {
				color: $color_1;
				opacity: .6;
			}
		}
	}
}
.post-card-main {
	position: relative;
	width: 80%;
	outline: 2px solid $color_1;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	font-family: $font-family_1;
	background: url('../../assets/images/dashboard.webp') no-repeat center center;
	background-size: cover;
	overflow: hidden;
	margin-bottom: 0;
	padding-bottom: 0;
}
.post-card-overlay {
	position: absolute;
	background-color: $background-color_1;
	z-index: 0;
	width: 100%;
	height: 100%;
	opacity: .9;
	border-radius: 10px;
}
.post-card-content {
	width: 100%;
	color: $color_1;
	font-size: 16px;
}
.post-card-infos {
	position: relative;
	margin-left: 15px;
	display: flex;
	min-height: 50px;
	position: relative;
	padding-bottom: 10px;
	.delete-post-cross {
		position: absolute;
		right: 20px;
		top: 12px;
		cursor: pointer;
	}
}
.info-index {
	cursor: default;
}
.infos-datetime {
	position: absolute;
	right: 80px;
	cursor: default;
}
.post-card-author {
	margin-left: 15px;
	display: flex;
	position: relative;
	h2 { 
		font-size: 16px;
		cursor: default;
	}
}
.post-card-author-wrapper {
	display: flex;
	flex-direction: column;
	min-width: 100px;
}
.post-card-message {
	width: 100%;
	margin-right: 60px;
	margin-left: 60px;
	p { 
		text-align: justify;
		height: fit-content;
		width: auto;
		font-size: 14px;
		overflow: hidden;
	}
	.post-card-modify-message {
		width: 100%;
		min-height: fit-content;
		height: 100%;
		textarea {
			background-color: $background-color_1;
			font-size: 14px;
			font-family: $font-family_1;
			color: $color_1;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 10px;
			border: none;
			outline: 1px solid $color_1;
		}
	}
}
.post-card-bottom-bar {
	padding-top: 10px;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.post-card-link {
		z-index: 1;
		text-decoration: none;
		margin-right: 7%;
	}
	.loggedColor {
		color: $color_1;
		cursor: pointer;
	}
	.unLoggedColor {
		color: $color_2;
		cursor: default;
	}
}
.post-card-author-div {
	background-color: #352a4a;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	outline: 1px solid $color_1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	img { 
		height: 100%;
		width: auto;
	}
}



/* .post-card-main {
    position: relative;
    width: 80%;
    outline: 2px solid white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../assets/images/dashboard.webp') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.post-card-overlay {
    position: absolute;
    background-color: black;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: 10px;
}

.post-card-content {
    width: 100%;
    color: white;
    font-size: 16px;
}

.post-card-infos {
    margin-left: 15px;
    display: flex;
    min-height: 50px;
    position: relative;
    padding-bottom: 10px;
}

.infos-datetime {
    position: absolute;
    right: 80px;
}

.post-card-author {
    margin-left: 15px;
    display: flex;
    position: relative;
}

.post-card-author-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.post-card-author-div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.post-card-author-div img {
    height: 100%;
    width: auto;
}

.post-card-author h2 {
    font-size: 16px;
}

.post-card-message p {
    height: fit-content;
    width: auto;
    font-size: 14px;
    margin-right: 60px;
    margin-left: 60px;
    overflow: hidden;
}

.post-card-bottom-bar {
    padding-top: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */