$color_1: rgb(53, 155, 155);
$color_2: black;
$color_3: rgb(53, 255, 255);
$font-family_1: Arial, Helvetica, sans-serif;


.return-to-top-content {
    position: fixed;
    bottom: 50px;
    right: 11%;
    z-index: 5;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_2;
    border-radius: 50%;
    cursor: pointer;
    .return-to-top-button {
        border-radius: 50%;
        outline: 3px solid $color_1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        color: $color_1;
        font-size: 24px;
        &:focus, &:hover {
            outline: 3px solid $color_3;
        }
        .arrow-to-top {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
    }
}
/* Ici : media queries pour la seconde partie tablette */
@media screen and (max-width: 991px) {
    .return-to-top-content {
        scale: 0.8;
        right: 3%;
        .return-to-top-button {
            width: 100% !important;
            height: 100% !important;
        }
        display: none;
    }
}