.creation-topic-main {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creation-topic-display-button {
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
    color: black;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.creation-topic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
    background-color: rgba(240,255,255,0.2);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}
.creation-topic-input-title {
    height: 30px;
}
.creation-topic-textarea-question {
    height: 60px;
}
.creation-topic-textarea-description {
    height: 150px;
}
.creation-topic-input-title, .creation-topic-textarea-description, .creation-topic-textarea-question {
    width: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .8);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.creation-topic-input-title::placeholder, .creation-topic-textarea-description::placeholder, .creation-topic-textarea-question::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.creation-topic-input-title:focus, .creation-topic-textarea-description:focus, .creation-topic-textarea-question:focus {
    border: 4px solid rgb(53, 155, 155);
    outline: none;
}
button {
    background-color: rgba(255, 255, 255, .8);
    margin-top: 0;
    width: 40%;
}
button:hover {
    outline: none;
    border: 4px solid rgb(53, 155, 155);
}
button:active {
    border: 4px solid lightskyblue;
    outline: none;
    background-color: lightskyblue;
}