$color_1: white;
$color_2: rgb(53, 155, 155);
$background-color_1: black;

.footer {
	width: calc(80% - 2px);
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
	background-color: $background-color_1;
	color: $color_1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.footer-content {
	width: 100%;
	min-height: 200px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 70px;
	border-top: 1px solid lightcyan;
	border-left: 1px solid lightcyan;
	border-right: 1px solid lightcyan;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	ul {
		list-style: none;
		padding-left: 0;
		width: 30%;
		min-width: 220px;
		padding-left: 15px;
		margin-left: auto;
		margin-right: auto;
		li { 
			margin-top: 15px;
			a { 
				text-decoration: none;
				color: $color_2;
				text-transform: lowercase;
			}
		}
	}
	h2 {
		cursor: default;
		text-transform: lowercase;
	}
}
/* Ici : media queries pour la seconde partie desktop */
@media screen and (max-width: 1380px) {
	.footer-content {
		h2 { 
			font-size: 16px;
		}
		ul {
			li { 
				font-size: 14px;
			}
		}
	}
}
/* Ici : media queries pour la seconde partie tablette */
@media screen and (max-width: 991px) {
	.footer {
		width: calc(100% - 2px);
	}
	.footer-content {
		h2 { 
			font-size: 14px;
		}
		ul {
			li { 
				font-size: 12px;
			}
		}
	}
}



/* .footer {
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;
    min-height: 200px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 70px;
    border-top: 1px solid yellow;
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content ul {
    list-style: none;
    padding-left: 0;
    width: 30%;
    min-width: 220px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.footer-content h3 {
    cursor: default;
    text-transform: lowercase;
}

.footer-content ul li {
    margin-top: 15px;
}

.footer-content ul li a {
    text-decoration: none;
    color: yellow;
}


/************** Partie Responsive Design **************/
/******************************************************/

/* Ici : media queries pour la seconde partie desktop */
/* @media screen and (max-width: 1380px) {
    .footer-content h3 {
        font-size: 16px;
    }

    .footer-content ul li {
        font-size: 14px;
    }
} */

/* Ici : media queries pour la seconde partie tablette */
/* @media screen and (max-width: 991px) {
    .footer {
        width: 100%;
    }
} */