$color_1: white;
$color_2: rgb(50, 50, 50);
$color_3: rgba(0, 0, 0, 0.1);
$background-color_1: rgba(0, 0, 0, 0.8);
$background-color_2: white;
$background-color_3: #dc2626;
$background-color_4: #b91c1c;
$font-family_1: Arial, Helvetica, sans-serif;


.trailer-modal__open-button {
    font-family: $font-family_1;
    color: $color_1;
    text-decoration: underline;
    cursor: pointer;
    height: fit-content;
}
.trailer-modal {
    animation: modalAppears 0.4s;
    border: none;
    padding: 0;
    background-color: $background-color_1;
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
  
    &::backdrop {
        background-color: $background-color_1;
    }
  
    &__content {
        position: relative;
        background-color: $background-color_1;
        border: 1px solid $color_2;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 2px;
        box-shadow: 0px 4px 6px $color_3;
        width: 100%;
        min-width: 900px;
        height: 100%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__error {
        color: $background-color_3;
        font-weight: bold;
        text-align: center;
        padding: 1rem;
        font-family: $font-family_1;
        font-size: 22px;
        cursor: default;
    }
    &__iframe {
        width: 900px;
        height: 500px;
        background-color: $background-color_1;
    }
    &__close-button {
        position: absolute;
        top: 10px;
        right: 22px;
        width: 40px;
        height: 40px;
        background-color: $background-color_3 !important;
        color: white;
        padding: none !important;
        border-radius: 10px;
        border: none !important;
        outline: none !important;
        cursor: pointer;
    
        &:hover {
            background-color: $background-color_4 !important;
            border: none;
        }
    }
    &__youtube-link {
        margin: 5px auto 5px auto;
        font-family: $font-family_1;
        color: $color_1;
        background-color: $background-color_3 !important;
        cursor: pointer;
        outline: none !important;
        border: none !important;
        &:hover {
            background-color: $background-color_4 !important;
        }
    }
}
.closing-animation {
    animation: modalDisappears 0.4s forwards;
}
@keyframes modalAppears {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes modalDisappears {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

/* Ici : media queries pour la première partie tablette */
@media screen and (max-width: 1380px) {
    .trailer-modal {
        &__close-button {
            width: 40px !important;
            height: 40px !important;
        }
    }
}
/* Ici : media queries pour la seconde partie tablette */
@media screen and (max-width: 991px) {
    .trailer-modal {
        &__content {
            width: 100%;
            min-width: 600px;
            height: 100%;
            min-height: 330px;
        }
        &__iframe {
            width: 600px;
            height: 330px;
        }
        &__close-button {
            font-size: 12px !important;
            line-height: 10px !important;
            width: 30px !important;
            height: 30px !important;
        }
    }
}
/* Ici : media queries pour la troisième partie tablette */
@media only screen and (max-width: 767px) {
	.trailer-modal {
        &__content {
            width: 100%;
            min-width: 500px;
            height: 100%;
            min-height: 280px;
        }
        &__iframe {
            width: 500px;
            height: 280px;
        }
    }
}
/* Ici : media queries pour la première partie smartphone */
@media screen and (max-width: 660px) {
    .trailer-modal {
        &__content {
            width: 100%;
            min-width: 310px;
            height: 100%;
            min-height: 172px;
        }
        &__iframe {
                width: 310px;
                height: 172px; 
        }
    }
}