$color_1: white;
$background-color_1: rgba(0, 0, 0, 0.7);
$background-color_2: white;
$font-family_1: Arial, Helvetica, sans-serif;


.trailer-modal__open-button {
    font-family: $font-family_1;
    color: $color_1;
    text-decoration: underline;
    cursor: pointer;
    height: fit-content;
}
.trailer-modal {
    border: none;
    padding: 0;
    background-color: $background-color_1;
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
  
    &::backdrop {
        background-color: $background-color_1;
    }
  
    &__content {
        position: relative;
        background-color: $background-color_2;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 2px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        min-width: 900px;
        height: 100%;
        min-height: 500px;
        .trailer-modal__error {
            color: red;
            font-weight: bold;
            text-align: center;
            padding: 1rem;
            font-family: $font-family_1;
            font-size: 22px;
            cursor: default;
        }
        .trailers-iframe {
            width: 900px;
            height: 500px;
        }
    }
  
    &__close-button {
        position: absolute;
        top: 10px;
        right: 22px;
        width: 40px;
        height: 40px;
        background-color: #dc2626;
        color: white;
        padding: 10px;
        // border-radius: 50%;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        outline: none;
    
        &:hover {
            background-color: #b91c1c;
            outline: none;
            border: none;
        }
    }
}

/* Ici : media queries pour la première partie tablette */
@media screen and (max-width: 1380px) {
    .trailer-modal {
        &__close-button {
            width: 40px !important;
            height: 40px !important;
        }
    }
}
/* Ici : media queries pour la seconde partie tablette */
@media screen and (max-width: 991px) {
    .trailer-modal {
        &__content {
            width: 100%;
            min-width: 600px;
            height: 100%;
            min-height: 330px;
            .trailers-iframe {
                width: 600px;
                height: 330px;
            }
        }
        &__close-button {
            font-size: 12px !important;
            line-height: 10px !important;
            width: 30px !important;
            height: 30px !important;
        }
    }
}
/* Ici : media queries pour la troisième partie tablette */
@media only screen and (max-width: 767px) {
	.trailer-modal {
        &__content {
            width: 100%;
            min-width: 500px;
            height: 100%;
            min-height: 280px;
            .trailers-iframe {
                width: 500px;
                height: 280px;
            }
        }
    }
}
/* Ici : media queries pour la première partie smartphone */
@media screen and (max-width: 660px) {
    .trailer-modal {
        &__content {
            width: 100%;
            min-width: 310px;
            height: 100%;
            min-height: 172px;
            .trailers-iframe {
                width: 310px;
                height: 172px;
            }
        }
    }
}