$color_1: white;
$color_2: rgb(53, 155, 155);
$color_3: black;
$background-color_1: black;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: 'Starjedi';
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.product-page-wrapper {
    position: relative;
    margin-top: 100px;
    text-align: justify;
    font-family: $font-family_1;
    width: 100%;
    min-height: 700px;
    height: fit-content;
    background-color: transparent;
    .product-page-div-return {
        position: absolute;
        top: 20px;
        left: 5%;
        z-index: 2;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        .product-page-arrow-link {
            position: absolute;
            margin-left: 15px;
            margin-top: 20px;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-color: $background-color_1;
            transition-property: all;
            transition-duration: .2s;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover { 
                background-color: $color_2;
            }
            img {
                width: 78px;
                height: 78px;
                overflow: hidden;
            }
        }
        .product-page-arrow-link::after, .product-page-arrow-link::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-image: conic-gradient(from var(--angle), $color_3, $color_2);
            z-index: -1;
            padding: 4px;
            border-radius: 50%;
            animation: 3s spin linear infinite;
        }
        .product-page-arrow-link::before {
            filter: blur(1.5rem);
            opacity: .5;
        }
    }
}

@keyframes spin {
    to {
        --angle: 0deg;
    } to {
        --angle: 360deg;
    }
}

.product-page-main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .product-page-picture-section {
        position: relative;
        margin-top: 20px;
        background-color: $color_3;
        outline: 3px solid $color_2;
        border-radius: 10px;
        width: 350px;
        height: 350px;
        .product-page-picture-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            .product-page-picture-overlay-text {
                overflow-wrap: break-word;
                font-size: 30px;
                color: rgba(53, 155, 155, .7);
                text-transform: uppercase;
                font-weight: bold;
                transform: rotate(-8deg);
                -moz-transform: rotate(-8deg);
                -webkit-transform: rotate(-8deg);
                -khtml-transform: rotate(-8deg);
                -ms-transform: rotate(-8deg);
            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .product-page-data-section {
        margin-left: 2%;
        width: 30%;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .product-page-data-tags {
            display: flex;
            flex-direction: column;
            line-height: 1;
            .product-page-data-category-title {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
        .product-page-data-title {
            text-align: initial;
        }
        .product-page-data-footer {
            display: flex;
            margin-top: 30px;
            margin-bottom: 0;
            align-items: flex-start;
            .product-page-data-price {
                margin: 0;
                font-weight: bold;
                font-size: 24px;
                width: fit-content;
                height: 42px;
                display: flex;
                .product-page-data-price-currency {
                    margin-left: 5px;
                    width: 18px;
                    height: 25px;
                }
                .product-page-data-price-basket-quantity {
                    font-size: 24px;
                    margin: 0 20px 0 25px;
                }
                .product-page-product-add-remove {
                    display: flex;
                    width: fit-content;
                    .product-page-data-add-and-remove-button {
                        font-size: 42px;
                        height: 27px;
                        line-height: .7;
                        margin: 0 0 0 25px;
                        font-weight: bold;
                        cursor: pointer;
                        &:hover {
                            color: $color_2;
                        }
                    }
                }
            }
        }
    }
}
.product-page-data {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: initial;
}