$background-color_1: red;
$background_color_2: rgb(53, 155, 155);

.passwordValidBar {
	width: calc(30%);
    min-width: 400px;
	height: 4px;
    margin-top: 20px;
	gap: 8px;
	display: flex;
	.isConditionValid {
		background-color: $background-color_1;
		flex-grow: 1;
		border-radius: 2px;
	}
	.conditionValidated {
		background-color: $background_color_2;
	}
}
/* Ici : media queries pour la seconde partie desktop */
@media screen and (max-width: 1380px) {
	.passwordValidBar {
        min-width: 300px;
        margin-top: 15px;
    }
}
/* Ici : media queries pour la première partie tablette */
@media screen and (max-width: 1023px) {
    .passwordValidBar {
		width: calc(60%);
        min-width: 200px;
        margin-top: 10px;
	}
}