$color_1: rgb(53, 155, 155);
$color_2: black;
$color_3: white;
$font-family_1: Arial, Helvetica, sans-serif;
@mixin basket-content-links {
    width: 45%;
    height: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        color: $color_1;
    }
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.is-open-basket-button {
    position: absolute;
    top: 0;
    right: -65px;
    width: 50px;
    height: 50px;
    scale: 1.15;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_2;
    outline: 3px solid $color_1;
    border-radius: 50%;
    cursor: pointer;
    &:focus, &:hover {
        outline: 3px solid $color_3;
    }
}
.basket-wrapper {
    position: relative;
    font-family: $font-family_1;
    color: white;
    padding: 15px;
    background-color: black;
    width: fit-content;
    min-width: 270px;
    height: fit-content;
    min-height: 100px;
    outline: 3px solid $color_1;
    border-radius: 10px;
    .basket-title-all {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .basket-title-full-basket {
            cursor: pointer;
        }
        .basket-title-style {
            scale: .8;
        }
        .basket-title {
            font-size: 18px;
            padding-left: 6px;
            align-items: center;
        }
    }
    .basket-content {
        padding: 0 5%;
        width: 90%;
        max-height: 130px;
        margin-bottom: 15px;
        overflow: scroll;
        scrollbar-width: thin;
        .basket-content-manager-section {
            display: flex;
            .basket-empty-button {
                @include basket-content-links;
            }
            .basket-page-link {
                @include basket-content-links;
                margin-left: 15px;
            }
        }
        .basket-product-wrapper {
            line-height: 1.5;
            width: 95%;
            font-size: 12px;
            display: flex;
            justify-content: space-around;
        }
    }
    .basket-content-empty {
        outline: 1px solid white;
    }
}
.basket-product {
    width: 90%;
    height: fit-content;
    font-size: 12px;
    text-align: start;
}
.basket-product-remove-cross {
    cursor: pointer;
    &:hover {
        color: $color_1;
        font-weight: bold;
    }
}
/* Ici : media queries pour la seconde partie tablette */
@media screen and (max-width: 991px) {
    .is-open-basket-button {
        top: -10px;
        right: 0;
        scale: .9;
    }
	.basket-wrapper {
        margin-top: 45px;
        margin-right: 7px;
        padding: 15px;
        width: fit-content;
        min-width: calc(270px / 2);
        max-width: calc(270px / 2 + 35px);
        height: fit-content;
        min-height: calc(100px / 2);
        max-height: calc(100px / 2 + 80px);
    }
    .basket-title {
        font-size: 10px !important;
        padding-left: 3px !important;
    }
    .basket-title-style {
        scale: .6 !important;
    }
    .basket-content {
        padding: 0 2px !important;
        height: fit-content;
        max-height: 100px !important;
        width: 100% !important;
        margin-bottom: 3px;
        .basket-content-manager-section {
            display: flex;
            min-width: 100%;
            height: fit-content;
            padding-top: 3px;
            padding-bottom: 3px;
            .basket-empty-button {
                font-size: 8px !important;
                width: 50% !important;
                margin-top: 2px !important;
                margin-bottom: 2px !important;                
            }
            .basket-page-link {
                font-size: 8px !important;
                width: 50% !important;
                margin-top: 2px !important;
                margin-bottom: 2px !important;
                margin-left: 7px !important;
            }
        }
        .basket-product-wrapper {
            font-size: 8px;
            display: flex;
            justify-content: space-around;
            max-height: 30px !important;
            line-height: 1.2 !important;
        }
    }
    .basket-product {
        font-size: 9px;
    }
    .basket-product-remove-cross {
        font-size: 9px;
    }
}