$color_1: white;
$color_2: rgb(53, 155, 155);
$color_3: black;
$background-color_1: black;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: 'Starjedi';

.shopping-page-section {
    position: relative;
    z-index: 1;
    margin-top: 150px;
    text-align: justify;
    font-family: $font-family_1;
    width: 95%;
    height: fit-content;
    min-height: 800px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .shopping-page-filters {
        width: 40%;
        min-height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 12%;
        .filter-button {
            width: 123px;
            height: 45px;
            background-color: $background-color_1;
            color: $color_1;
            border: none;
            outline: 3px solid $color_2;
            .market-filter-currency {
                width: 10px;
                height: 16px;
            }
            &:focus {
                outline: 3px solid $color_1;
            }
        }
        .empire-filter-button {
            font-size: 14px;
        }
        .active {
            background-color: $color_1;
            color: $color_3;
            outline: 3px solid $color_2;
            .market-filter-currency {
                filter: invert(1);
            }
        }
    }
    .shopping-page-content {
        display: flex;
        width: 75%;
        height: fit-content;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    .market-arrows-section {
        display: flex;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: transparent;
        justify-content: space-between;
        .market-arrow {
            position: sticky;
            top: 450px;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            img {
                width: 100%;
                height: 100%;
                cursor: pointer;
                border-radius: 50%;
            }
            &:active, &:active {
                outline: 4px solid $color_2;
            }
        }
        .back {
            left: 0;
        }
        .next {
            left: 100%;
        }
    }
    .market-arrow-page-counter {
        position: sticky;
        top: 730px;
        z-index: 3;
        left: calc(50% - 75px);
        width: 150px;
        height: 70px;
        background-color: $color_3;
        border-radius: 20px;
        outline: 4px solid $color_2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
    }
}
/* Ici : media queries pour la première partie tablette */
@media screen and (max-width: 1023px) {
    .shopping-page-content {
        width: 75%;
    }
    .filter-button {
        width: 123px !important;
        height: 45px !important;
    }
}
/* Ici : media queries pour la seconde partie tablette */
@media screen and (max-width: 991px) {
    .shopping-page-section {
        width: calc(100% - 2px);
        .shopping-page-filters {
            z-index: 2;
            max-width: 300px;
        }
        .shopping-page-content {
            width: 75%;
            z-index: 1;
        }
        .market-arrow-page-counter {
            top: 83%;
        }
        .market-arrows-section {
            z-index: 1;
            width: 95%;
            .market-arrow {
                width: 60px;
                height: 60px;
                z-index: 2;
            }
            .back {
                left: 0;
            }
            .next {
                right: 0;
            }
        }
        .shopping-page-filters {
            width: 70%;
            min-height: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 16px;
            .filter-button {
                font-size: 11px;
                width: 75px !important;
                height: 35px !important;
                background-color: $background-color_1;
                color: $color_1;
                border: none;
                outline: 3px solid $color_2;
                .market-filter-currency {
                    width: 5px;
                    height: 10px;
                }
            }
            .empire-filter-button {
                font-size: 9px;
            }
            .active {
                background-color: $color_1;
                color: $color_3;
                outline: 3px solid $color_2;
                .market-filter-currency {
                    filter: invert(1);
                }
            }
        }
    }
}
/* Ici : media queries pour la première partie smartphone */
@media screen and (max-width: 660px) {
    .shopping-page-content {
        width: 260px !important;
    }
}